<!DOCTYPE html>
<html>
 <head>
   <title></title>
   
       <link rel="stylesheet" type="text/css" href="styles.css">
 </head>
 
 <body>
   <h1>What do you know about equalization?</h1>
     <form method=POST>
       <p>If implemented, will the Equality Act amend existing civil right laws to explicitly include sexual orientation and gender identity as protected characteristics? </p>
        <ul> <input type="radio" name="question1" value="answer1">Yes </ul> 
         <ul><input type="radio" name="quesiton1" value="answer2">No </ul> 
         
       <p>When is Womens Equality Day?</p>
         <ul><input type="radio" name="question2" value="answer1">February 17 </ul> 
         <ul><input type="radio" name="question2" value="answer2">May 26 </ul> 
         <ul><input type="radio" name="question2" value="answer3">August 26 </ul> 
   
       <p>What Amendment of the United States Constitution prohibits states and the federal government from denying ones right to vote on the basis of gender?</p>
         <ul><input type="radio" name="question3" value="answer1">21st Amendment </ul> 
         <ul><input type="radio" name="question3" value="answer2">19th Amendment </ul> 
         <ul><input type="radio" name="question3" value="answer3">10th Amendment </ul> 
         
         <input type="submit" value="Sumbit Quiz">
         

       
     </form>
     
     <style>
  
body {
  background: linear-gradient(red, yellow, green, blue); 
}

h1 {
  color: black; 
  font-family: cursive;
  font-size: 40px
}

p {
  font-family: cursive;
  font-size: 30px
}

ul {
  font-family: cursive;
}



/*https://youtu.be/F4WsW3booUo  */
/*  http://www.youtube.com/embed/W7qWa52k-nE*/

</style>
 </body>
</html>