<html>
  <head>
    <meta charset="UTF-8">
    <title>feminism</title>
  </head>

  <body>
    <h1>What do you know about feminism?</h1>

    <!-- Insert Your Form Below -->
    <form method=POST>
      <p>What is a meaning of feminism?</p>
      <input type="radio" name="question1" value="answer1">Women < Men 
      <input type="radio" name="question1" value="answer2">Women = Men 
      <input type="radio" name="question1" value="answer3">Women > Men
      <!--<input type="submit" value="Correct?">-->
      
       <p>What city in the U.S is sexual harassment most like to occur?</p>
      <input type="radio" name="question2" value="answer1">Detroit
      <input type="radio" name="question2" value="answer2">New York City 
      <input type="radio" name="question2" value="answer3">Achorage 
      <!--<input type="submit" value="Correct?">-->
      
       <p>Which gender is most likely to be sexual harassed in the workplace?</p>
      <input type="radio" name="question3" value="answer1">Men 
      <input type="radio" name="question3" value="answer2">Women 
      <input type="radio" name="question3" value="answer3">Other
      <input type="submit" value="Correct?">
      <input type="submit" value="submit">
      </form>
      
  </body>
</html>


