<html>
  <head>
    <meta charset="UTF-8">
    <title>feminism</title>
    
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>

  <body>
    <h1>What do you know about feminism?</h1>

    <!-- Insert Your Form Below -->
    <form method=POST>
      <p>What is a meaning of feminism?</p>
      <ul><input type="radio" name="question1" value="answer1">Women < Men </ul> 
      <ul><input type="radio" name="question1" value="answer2">Women = Men </ul>
      <ul><input type="radio" name="question1" value="answer3">Women > Men </ul> 
      <!--<input type="submit" value="Correct?">-->

       <p>What city in the U.S is sexual harassment most like to occur?</p>
      <ul><input type="radio" name="question2" value="answer1">Detroit </ul> 
     <ul> <input type="radio" name="question2" value="answer2">New York City </ul> 
      <ul><input type="radio" name="question2" value="answer3">Anchorage </ul> 

      <!--<input type="submit" value="Correct?">-->

       <p>Which gender is most likely to be sexual harassed in the workplace?</p>
      <ul><input type="radio" name="question3" value="answer1">Men </ul> 
      <ul><input type="radio" name="question3" value="answer2">Women </ul> 
      <ul><input type="radio" name="question3" value="answer3">Other </ul> 
      <!--<input type="submit" value="Correct?">-->

      <input type="submit" value="submit">

      </form>
      <style>
        body {
     background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/53/08/665795e4e52a03b.jpg");
 
}

p {
  font-size:30px;
  font-family: cursive;
}

h1 {
  font-family: cursive;
  font-size: 40px;
}

      </style>
  </body>
</html>


