<!DOCTYPE html>
<html>
  <head>
    <title>MKJournals</title>
  </head>


    <h1>MKJournals</h1>
  
<h4>| Karen Kraft | Mandi Karpo | Jennifer Okwara |</h4> 
<h4>| MKJournals | August 2018 |</h4> 

<hr size="30">
<!--  thick line br    -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
h4{
  text-align: center;
  color: #696969;
  font-size: 20px;
}
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body>


<div class="row">
  <div class="column" style="background-color:#;">
    <h2>Saudi Arabia lifts band on women drivers</h2>
    <h3> Equality </h3>
    <p>It looks as if Saudi Arabia is warming up to the idea of equality! After a long time of oppression, women are finally allowed to drive in Saudi Arabia. The lifting of the ban is just the beginning of introducing equality amongst men and women throughout the country.
      <p>  32-year-old Saudi Arabia's Crown Prince Mohammed bin Salman, who assumed power one year ago is regarded as a risk-taker and has begun a sweeping campaign of liberalization in the kingdom. Saudi Arabia's transformation is predominantly motivated by the improvement in the economy by allowing more freedom and equality for women.
      <p>   Experts are saying that now that the nation is shifting away from oil reliance and focus more on households that will need dual income.</p> 
    <h3> Click below for more information!</h3>
     <a href="/equality_quiz" target="_blank">
  <img src="https://www.thenational.ae/image/policy:1.728329:1525768862/401337-01-02.jpg?f=16x9&w=1200&$p$f$w=2c0c41c" width="440" height="290" />
 </a>
      <iframe width="440" height="315" src="https://www.youtube.com/embed/g5L297mtAFQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </p>
  </div>
  <div class="column" style="background-color:#E8DFCB ;">
    <h2>Karlie Kloss uses super coding powers to embrace women in computer science industry</h2>
     <h3> Feminism </h3>
    <p> Karlie Kloss is definitely not your average supermodel. Making the covers of numerous magazines such as Vogue, Bazaar, Glamour, Elle, including many more, Kloss has another superpower; computer coding.  </p>
	<p>Founded in 2015, Kloss began her adventure into computer science and decided to share her new found love of coding with young women all across the U.S. by creating a two-week summer camp for girls 13-18 years old, called "Kode With Klossy." Their mission is to "empower girls to learn to code and become leaders in tech." <p/>
<p>	 A current and ongoing epidemic in the tech industry is the lack of women within the STEM field. Women have been influenced to veer away from the STEM industry as a result of sexual harassment in the workplace. Feminists across the world have taken a stand for women's equality, including Kloss! 
<p>  "Kode With Klossy," is a safe environment for young women to embrace their femininity and love of learning while motivating them to continue a career in the STEM industry; to bring awareness and fight against anti-feminism within the work environment of any STEM field, especially computer science. So, Thank You, Karlie. Your superpower will never go unappreciated. 
</p>
    <h3> Click below for more information!</h3>
     <a href="/feminism_quiz" target="_blank">
  <img src="http://indonesiatatler.com/images/i/story-20170113165507-kwk-hero-image-670x447_resized_670x447.jpg" width="460" height="290" />
 </a>
    <iframe width="460" height="315" src="https://www.youtube.com/embed/PdiUAZ2NdyE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="column" style="background-color:#;">
    <h2>Wisconsin schools brace for next mass shooting with gun shot detection technology</h2>
     <h3> Gun Control </h3>
    <p> Schools in Milwaukee, Wisconsin brace for a possible next mass shooting by implementing gunshot detection technology that will immediately notify police with the hopes that first responders will be able to respond quickly when there is an active shooter. Better to be safe than sorry, right?   </p>
<p> After the recent shooting in Parkland, Florida, Wisconsin lawmakers have approved grants to schools across the state to improve upon security measures as the upcoming school year approaches. The approved grants have provided funding to upgrade cameras and intercom systems as well as putting protective film on windows so they won't shatter.
<p> President Trump has expressed his own opinions, suggesting schools should focus their resources on mental health and behavioral intervention support by providing training for staff in order to evaluate threats and make it easy for students to report suspicious activity. But the overall objective of the gunshot detection technology is to get their local law enforcement to the schools as fast as possible.</p>
    <h3> Click below for more information!</h3>
     <a href="/gun_control_quiz" target="_blank">
  <img src="https://www.usnews.com/dims4/USNEWS/3d87afd/2147483647/thumbnail/970x647/quality/85/?url=http%3A%2F%2Fmedia.beam.usnews.com%2Ffa%2F8f2b359515d723e0f1efef35815766%2Fresizes%2F1500%2Fmedia%3A187f055946a64d968f68594d23054391School_Gunshot_Sensors_06483.jpg" width="400" height="300" />
 </a>
    <iframe width="400" height="315" src="https://www.youtube.com/embed/t1eoA94qZ_c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
<style>
  
body {
    background-color: #E8DFCB; 
}
h1 {
  font-family: Poynter; 
  text-align: center; 
  font-size:80px; 
  /* center title */}
.column {
  
    border-left: 1px solid black;
    height: 500px;
}
 
nav {
    list-style-type: none;
    /*margin: ;*/
    padding: 0;
    text-align: center;
    margin-top: 20px;
  font-size: 20px;
  font-family:script;
}
nav a {
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    /*text-transform: normal;*/
    letter-spacing: normal;
    line-height: 1.3em;
    color: #596365;
}
#nav a: hover {
    text-decoration: none;
    font-family: Cambria, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.3em;
    color: #000;
}
  
 
hr {
    border: none;
    height: 20px;
    /* Set the hr color */
    color: #010000; /* old IE */
    background-color:#533E3E; /* Modern Browsers */
}
p {
    font-family: "Times New Roman", Times, serif;
  font-size: 18px
}
p style{
 /*float: top; */
  float: left;
  
}
/*https://youtu.be/F4WsW3booUo  */
/*  http://www.youtube.com/embed/W7qWa52k-nE*/

</style>
</body>
</html>