<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>results!</title>
 </head>
 <body>

 <h1>Being wrong is completely fine. Our mission is to inform!</h1>
 <h1><% @@results.each do |answers|%></h1>
 <h1><%= answers %></h1>
 <h1><% end %></h1>
   
   <style>
 body {
  background: url(https://i.pinimg.com/originals/2d/17/5c/2d175cd5a023e40e0dbc59af3b22ac43.jpg);
}

h1{
  font-family: monospace; 
  font-size: 40px
}

p {
  font-family: monospace;
  font-size: 20px
  
}
</style>
 </body>
</html>
